.jumbotron{
    background: url('https://img.freepik.com/free-vector/girl-reads-book-old-library-night_107791-4743.jpg?w=1380');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}