<div class="jumbotron jumbotron-fluid bg-dark">
  
    <div class="jumbotron-background">
    </div>
    <div class="container text-white ">
  
      <h1 class="display-4">Welcome to our Library</h1>
      <p class="lead">A library is a collection of materials, books or media that are easily accessible for use and not just for display purposes. </p>
      <hr class="my-4">
      <button class="btn btn-primary btn-lg"  role="button" routerLink="/books">Search Books</button>
      <button class="btn btn-primary btn-lg mx-5"  role="button" routerLink="/bookId">Get Book Detail</button>

    </div>
    <!-- /.container -->
    
   
  </div>
  <!-- /.jumbotron -->
  
  <!-- 
  For IE support of object-fit add this to your document
  &lt;script src="https://cdnjs.cloudflare.com/ajax/libs/object-fit-images/3.2.4/ofi.min.js"&gt;&lt;/script&gt;
  -->
  
  
  